@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #f7f7f7;
  color: #111111;
  font-family: Raleway, sans-serif;
  margin: 40px auto;
  width: 800px;
  text-align: center;
}

h1 {
  font-size: 72px;
  color: #a52a2a;
}

td {
  font-size: 24px;
  margin: 75px 75px;
}

p {
  font-size: 24px;
  text-align: left;
}

select {

}

button {
  font-size: 24px;
  padding: 25px;
  color: #a52a2a;
}